html{
    background: -webkit-radial-gradient(rgb(255, 255, 255), rgb(102, 102, 102));
    background: radial-gradient(rgb(255, 255, 255), rgb(102, 102, 102));
}


input {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  